
@font-face{
  font-family: cute;
src: url("https://cdn.glitch.global/788cb2ae-f03a-4003-8932-6e3d7b4192f4/Wizards'%20Magic.ttf?v=1746040692651")
}
html {
  background-color: <;
  padding-left: 20px;
}

img{
  border-radius: 20px;
}

h1 {
  font-family: cute;
  color:hotpink;
font-size: 100px;
}

body {
  background-image: url('https://wallpapercave.com/wp/wTuQe8b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.doplhin{
color: purple;
text-align:center
}
